<div class="w-full min-h-scree md:px-28 xl:px-96">
    <form class="w-full flex-col mt-5"
          [formGroup]="form">
        <div class="w-full flex justify-center items-center">
            <mat-form-field appearance="fill">
                <mat-label>Keywords</mat-label>
                <input matInput
                       placeholder="Search..."
                       formControlName="q"
                       data-cy="form-input-query">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput
                       [matDatepicker]="picker"
                       formControlName="from"
                       data-cy="form-input-date">
                <mat-datepicker-toggle matIconSuffix
                                       [for]="picker"
                                       data-cy="form-input-date-toggle"></mat-datepicker-toggle>
                <mat-datepicker #picker
                                data-cy="form-input-date-picker"></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="w-full flex justify-center items-center">
            <mat-form-field>
                <mat-label>Sort</mat-label>
                <mat-select formControlName="sortBy"
                            data-cy="form-input-sort">
                    <mat-option *ngFor="let sortByOption of sortByOptions"
                                [value]="sortByOption">{{ sortByOption | titlecase }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>

    <div class="w-full flex items-center justify-center">
        <button mat-raised-button
                color="primary"
                (click)="onSearch()"
                data-cy="form-submit-button">Search
        </button>
    </div>

    <div class="w-full grid grid-cols-2 gap-8 mt-5">
        <ng-container *skeleton="isLoading; repeat: 3; height: '320px';">
            <ng-container *ngFor="let article of articles">
                <article [article]="article"></article>
            </ng-container>
        </ng-container>
    </div>

    <div class="w-full h-40 flex items-center justify-center">
        <mat-paginator #paginator
                       (page)="handlePageEvent()"
                       [length]="totalItems"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="true ? pageSizeOptions : []"
                       aria-label="Select page">
        </mat-paginator>
    </div>
</div>