@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

$news-app-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$news-app-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$news-app-warn: mat.m2-define-palette(mat.$m2-red-palette);

$news-app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $news-app-primary,
      accent: $news-app-accent,
      warn: $news-app-warn,
    ),
  )
);

@include mat.all-component-themes($news-app-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.pulse {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation-delay: 0.5s;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #616161;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.snackbar-success,
.snackbar-error {
  --mat-snack-bar-button-color: #fff;

  .mat-mdc-snack-bar-action {
    background-color: rgba(white, 0.2);
  }
}

.snackbar-success {
  --mdc-snackbar-container-color: #4caf50;
}

.snackbar-error {
  --mdc-snackbar-container-color: #f44336;
}
